@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Good Eats</h1>
    <p class="lead">Established in 2007, Good Eats is one of the most exclusive traveling restaurants serving up fine cousine at beautiful destinations. View our weekly menu below:</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Starter</h2>
        <p>
            Prawn Cocktail
        </p>

    </div>
    <div class="col-md-4">
        <h2>Main Course</h2>
        <p>Braised Lamb Chops on a bed of autumnal salad</p>
    </div>
    <div class="col-md-4">
        <h2>Dessert</h2>
        <p>Chocolate Lava Cake</p>

    </div>
</div>